<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="../jquery/jquery-3.5.1.min.js"></script>
    <script src="../tmpl/jquery.tmpl.min.js"></script>
    <!--<link href="../../content/dist/css/bootstrap.min.css" rel="stylesheet" />-->
    <style type="text/css">
        tableTemp tbody td {
            /*border:1px solid black;*/
            text-align: left;
            height: 200px;
            vertical-align: top;
            padding: 0px 10px 0px 0px; /**/
        }

        /*select {
            height: 200px;
        }

        textarea {
            height: 100%;
        }
        .auto-style1 {
            height: 183px;
        }*/
    </style>
</head>
<body>
    <div>
        名册：
    <input id="role_names" type="text" value="楼上小闺溺,榛榛,楼上小闺溺,榛榛,楼上小闺溺,榛榛,楼上小闺溺,榛榛,楼上小闺溺,榛榛" size="50" />
        <input id="Button1" type="button" value="button" />
        <br />
        <br />
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>编号</th>
                <th>名称</th>
                <th>描述</th>
                <th>
                    &nbsp;分类</th>
                <th>
                    &nbsp;优先级</th>
                <th>
                    事件</th>
                <th>
                    &nbsp;优先级</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>#<input id="Checkbox1" type="checkbox" />12002</td>
                <td>
                    <input name="role_name" type="text" value="楼上小闺溺" size="15" /></td>
                <td>
                    <input name="desc" type="text" value="when" /></td>
                <td>
                    <select>
                        <option value="0">请选择分类（Category）</option>
                    </select>

                </td>
                <td>
                    <select>
                        <option value="-1">临时测试(Dummy)</option>
                    </select>

                </td>
                <td>
                    <input name="desc0" type="text" value="when" /></td>
                <td>
                    <select name="D4">
                        <option value="-1">临时测试(Dummy)</option>
                    </select>

                </td>
            </tr>

            <tr>
                <td>#<input id="Checkbox2" type="checkbox" />12033</td>
                <td>
                    <input name="role_name" type="text" value="楼上小闺溺" size="15" /></td>
                <td>
                    <input name="desc" type="text" value="呀喝洗姆色龇" /></td>
                <td>
                    <select name="D1">
                        <option value="0">请选择分类（Category）</option>
                    </select></td>
                <td>
                    <select>
                        <option value="-1">临时测试(Dummy)</option>
                    </select></td>
                <td>
                    <input name="desc1" type="text" value="when" /></td>
                <td>
                    <select name="D5">
                        <option value="-1">临时测试(Dummy)</option>
                    </select></td>
            </tr>
            <tr>
                <td>#<input id="Checkbox3" type="checkbox" />13033</td>
                <td>
                    <input name="role_name" type="text" value="楼上小闺溺" size="15" /></td>
                <td>
                    <input name="desc" type="text" value="作一个梦" /></td>
                <td>
                    <select name="D2">
                        <option value="0">请选择分类（Category）</option>
                    </select></td>

                <td>
                    <select>
                        <option value="-1">临时测试(Dummy)</option>
                    </select>
                </td>

                <td>
                    <input name="desc2" type="text" value="when" /></td>

                <td>
                    <select name="D6">
                        <option value="-1">临时测试(Dummy)</option>
                    </select>
                </td>

            </tr>
            <tr>
                <td>#<input id="Checkbox4" type="checkbox" />26743</td>
                <td>
                    <input name="role_name" type="text" value="楼上小闺溺" size="15" /></td>
                <td>
                    <input name="desc" type="text" value="束缚 熟妇" /></td>
                <td>
                    <select name="D3">
                        <option value="0">请选择分类（Category）</option>
                    </select></td>
                <td>

                    <select>
                        <option value="-1">临时测试(Dummy)</option>
                        <option value="0">队列安排中(Stack Queue)</option>
                        <option value="0">张疹震癌爱</option>
                        <option value="0">王猛</option>
                        <option value="0">零星眼小鬼妮（upstairs)</option>
                        <option value="0">贾晕封</option>
                        <option value="0">气铅</option>
                        <option value="0">下体</option>
                        <option value="0">腰  </option>
                        <option value="0">头  </option>
                        <option value="0">幻象</option>
                        <option value="0">说话</option>
                        <option value="0">咒</option>
                    </select>
                </td>
                <td>

                    <input name="desc3" type="text" value="when" /></td>
                <td>

                    <select name="D7">
                        <option value="-1">临时测试(Dummy)</option>
                        <option value="0">队列安排中(Stack Queue)</option>
                        <option value="0">张疹震癌爱</option>
                        <option value="0">王猛</option>
                        <option value="0">零星眼小鬼妮（upstairs)</option>
                        <option value="0">贾晕封</option>
                        <option value="0">气铅</option>
                        <option value="0">下体</option>
                        <option value="0">腰  </option>
                        <option value="0">头  </option>
                        <option value="0">幻象</option>
                        <option value="0">说话</option>
                        <option value="0">咒</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>


    <!--    bootstrap.min.js 必须和 jquery-->
    <script src="../../content/dist/js/bootstrap.min.js"></script>

</body>
</html>
