<!doctype html>

<!doctype html public "" "">
<html lang="en">
<head>
    <meta content="ie=11.0000" http-equiv="x-ua-compatible">

    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>附体事件拓展图（L2）
    </title>

    <!--    <link href="content/bootstrap.css" rel="stylesheet">-->
    <link href="styles/site.css" rel="stylesheet">

    <script type="text/javascript" src="vis/vis.min.js"></script>
    <link href="vis/vis-network.min.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        #mynetwork {
            margin: 0 0 0 0;
            width: 100%;
            height: 670px; /* */
    }
    </style>

</head>
<body id="main">

    <div id="mynetwork"></div>

    <script type="text/javascript">
        DIR = '../img/indonesia/';
        DIR_HOVER = "<img src=\"" + DIR + "4.png\">";
        var title = "<a href='#'>爱上对方过后就哭了</a>";
        var label = "Aliens";
        var content = "";
        // the id must be unique,or maybe cannot be shown up.
        var nodes = new vis.DataSet([
            { id: 1, title: title, content: content, shape: 'box', color: '#97C2FC' },
            { id: 2, title: title, shape: 'circle', color: '#FFFF00' },
            { id: 3, title: title, shape: 'diamond', color: '#FB7E81' },
            { id: 4, title: title, shape: 'dot', size: 10, color: '#7BE141' },
            { id: 5, title: title, shape: 'ellipse', color: '#6E6EFD' },
            { id: 6, title: title, shape: 'star', color: '#C2FABC' },
            { id: 7, title: title, shape: 'triangle', color: '#FFA807' },
            {
                id: 8, label: 'node', shape: '', color: 'blue', font: { color: 'white' },
                title: title // + DIR_HOVER
            },
            { id: 9, label: 'node\nseven', shape: 'triangle', color: '#FFA807' },
            { id: 11, label: 'node\diamond', shape: 'diamond', color: '#FFA807' },
            { id: 12, label: 'node\nseven', shape: 'ellipse', color: '#FFA807' },
            { id: 13, label: 'node', shape: 'box', color: '#FFA807' },
            { id: 14, label: 'single', x: -120, y: -120 },
            { id: 15, font: { multi: true }, label: '<b>T</b>', x: -40, y: -40 },
            { id: 16, font: { multi: 'html', size: 20 }, label: '<i>m</i>', x: 40, y: 40 },
            { id: 17, font: { multi: 'md', face: 'georgia' }, label: 'f', x: 120, y: 120 },
            { id: 20, font: { multi: 'md', face: 'georgia' }, label: '', x: 120, y: 120 },
            //{ id: 14, shape: 'circularImage', image: DIR + 'missing.png', brokenImage: DIR + 'missingBrokenImage.png', label: "when images\nfail\nto load" },
            { id: 18, shape: 'circularImage', image: DIR + '1.png' },
            //{ id: 16, shape: 'circularImage', image: DIR + '2.png' },
            //{ id: 17, shape: 'circularImage', image: DIR + '3.png' }
            ////{ id: 16, shape: 'circularImage', image: DIR + 'anotherMissing.png', brokenImage: DIR + '9.png', label: "fallback image in action" }
        ]);

        // create an array with edges
        var edges = new vis.DataSet([
            { from: 1, to: 2, color: { color: 'red' } },
            { from: 1, to: 3, dashes: true },
            { from: 1, to: 4, color: { color: 'rgba(30,30,30,0.2)', highlight: 'blue' } },
            { from: 1, to: 5, label: 'middle',    color: { inherit: 'to' } },
            { from: 1, to: 6, label: 'top',       color: { inherit: 'from' } },
            { from: 1, to: 7, label: 'horizontal',color: { inherit: 'both' } },
            { from: 1, to: 8, label: 'bottom',    color: { color: '#ff0000', opacity: 0.3 } },
            { from: 1, to: 9, color: { opacity: 0.3 } },
            { from: 10, to: 10, color: { opacity: 0.3 } },
            { from: 1, to: 11, color: { color: 'red' } },

            { from: 1, to: 12, color: { color: 'red' } },

            { from: 1, to: 13, color: { opacity: 0.3 } },
            
            { from: 1, to: 14, color: { opacity: 0.3 } },
            { from: 14, to: 14, color: { opacity: 0.3 } },
            { from: 1, to: 15, color: { color: 'red' } },
            { from: 1, to: 16, color: { color: 'red' } },

            { from: 14, to: 17, color: { opacity: 0.3 } },
            { from: 1, to: 18, color: { opacity: 0.3 } },
            { from: 1, to: 20, color: { color: 'red' } },

        ]);

        // create a network
        var container = document.getElementById('mynetwork');
        var data = {
            nodes: nodes,
            edges: edges
        };
        var options = {
            nodes: {
                shape: 'circle',
               // physics:false
            },
            physics:false
        };
        var network = new vis.Network(container, data, options);

        network.on("click", function (params) {
           
            // JSON.stringify(params.points.abc, null, 4);
            params.event = "[original event]";
            if (params.nodes.length > 0) {
                var nodeId = params.nodes[0];
                //  var edgesId = params.edges[0];
               // console.log("Clicked on a NODE with id = " + nodeId + ", label = " + nodes.get(nodeId).label);
                //  console.log("Clicked on a EdgesId with id = " + edgesId + ", label = " + edges.get(edgesId));
                 //location.href = "?id=" + nodeId;
                alert(JSON.stringify(params, null, 4));
             
            }

        });
          
    </script>

</body>
</html>
