<!DOCTYP html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="../content/jquery/jquery-3.5.1.min.js"></script>
    <style type="text/css">
 
        #square {
            width: 50px;
            height: 50px;
            background: white;
            border: 1px solid black;
        }
          #triangle-up {
            width: 0;
            height: 0;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            border-bottom: 100px solid dodgerblue;
        }
    </style>
</head>
<body> 
      <div id="square"></div>
      <div id="triangle-up"></div>

</body>
</html>
