<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title> 
    <script src="../content/jquery/jquery-3.5.1.min.js"></script>
    <script src="../content/tmpl/jquery.tmpl.min.js"></script> 
</head>
<body>
    <div id="tmpl"></div>
    <script id="role_template" type="text/x-jquery-tmpl">
        <div style="margin-bottom: 10px;">
            <span>${id}  ${name}</span>
            <select style="margin-left: 10px;">{{tmpl($data) '#category'}}</select>
            <span>${incident_info.id}  ${incident_info.desc}</span>
        </div>
    </script>
    <script id="category" type="type/x-jquery-tmpl">
        {{each  category}}
       <option> ${name}  </option>
        {{/each}}   
    </script>
    <script type="text/javascript">
        var  category = [
            { id: 1, name: "4345354哎", },
            { id: 2, name: "4345354爱", },
            { id: 1, name: "4345354哎", },
            { id: 2, name: "4345354爱", },
            { id: 1, name: "4345354哎", },
            { id: 2, name: "133354爱", },
            { id: 1, name: "133354哎", },
            { id: 2, name: "133354爱", },
            { id: 1, name: "133354哎", },
            { id: 2, name: "133354爱", },
            { id: 3, name: "133354欸", }
        ];
        var users = [
            { id: 1, name: "楼上小闺溺", category_info: { id: 13, name: "阿斯蒂芬" }, incident_info: { id: 0, desc: "事件：2020-06-18 17:39:13" } },
            { id: 2, name: "榛榛", category_info: { id: 13, name: "放大" }, incident_info: { id: 0, desc: "事件：该不需要太长字符" } },
            { id: 3, name: "溺", category_info: { id: 13, name: "热情我" }, incident_info: { id: 0, desc: "事件：该不需要太长字符" } }
        ];
          var asdf = [
            { id: 1, name: "asdf", category_info: { id: 13, name: "阿斯蒂芬" }, incident_info: { id: 0, desc: "事件：2020-06-18 17:39:13" } },
           
        ];
    
      //  $("#tmpl1").tmpl(users).appendTo('#tmpl');
        category = [{ id: 1, name: "姐姐哎腾", },]
     
        $("#tmpl1").tmpl(asdf).appendTo('#tmpl');
        $("#tmpl1").tmpl(asdf).appendTo('#tmpl'); 
        $("#tmpl1").tmpl(asdf).appendTo('#tmpl'); 
        $("#tmpl1").tmpl(asdf).appendTo('#tmpl'); 
        $("#tmpl1").tmpl(asdf).appendTo('#tmpl'); 
        $("#tmpl1").tmpl(asdf).appendTo('#tmpl'); 
        $("#tmpl1").tmpl(asdf).appendTo('#tmpl'); 
        $("#tmpl1").tmpl(asdf).appendTo('#tmpl'); 
        $("#tmpl1").tmpl(asdf).appendTo('#tmpl'); 
        $("#tmpl1").tmpl(asdf).appendTo('#tmpl'); 
        $("#tmpl1").tmpl(asdf).appendTo('#tmpl'); 
        $("#tmpl1").tmpl(asdf).appendTo('#tmpl'); 
        $("#tmpl1").tmpl(asdf).appendTo('#tmpl');   

    </script>
</body>
</html>
