<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <style type="text/css">
        body {
            margin: 0 0 0 0;
            
        }
    </style>
    <script src="../content/jquery/jquery-3.5.1.min.js"></script>
</head>
<body  >
    <div id="output" style="border:1px solid black;height:900px"> 
 
    <svg width="100%" height="100%" id="draw_symbols">
 
        <g >
         <rect x="10" y="330" width="30" height="30"  style="fill:white;stroke-width:1;stroke:rgb(0,0,0)"/> 
        <text   x="17" y="350" >啊</text>
        </g>
        <g >
         <rect x="50" y="330" width="30" height="30"  style="fill:white;stroke-width:1;stroke:rgb(0,0,0)"/> 
        <text   x="57" y="350" >A</text>
        </g>
        <g>
            <circle cx="30" cy="30" r="20" stroke="black" stroke-width="2" fill="white" />
            <text x="20" y="35" fill="black">啊</text>
        </g>

        <g>
            <circle cx="70" cy="30" r="20" stroke="black" stroke-width="2" fill="white" />
            <text x="60" y="35" fill="black">版</text>
        </g>
<!--bottom top 

M: x30 y50 //svg bottom left 
L: l1x = M:y50 l1y = M:y50 // bl-width
L: l2x = L1y/2 l2y=l1y-20-->// bl-height:  
        //SouthPole吸着?.左上 Move to点 线 面
   <!--     <polygon points="400 500   1111 250  400 333" fill="white"  stroke="#000000" stroke-width="1" />-->
        <path id="path" d="M 130 50 L 0 50 L 15 25 z" stroke="red" stroke-width="1" fill="white" />
        
    <!--    <text id="svg_text"  >
            <tspan id="to" x="15" y="20" >石</tspan>
            <tspan x="30" y="20">家</tspan>
            <tspan x="45" y="20">庄</tspan>
            <tspan x="60" y="20">特</tspan>
            <tspan x="75" y="20">大</tspan>
            <tspan x="90" y="20">抢</tspan>
            <tspan x="105" y="20">运</tspan>
            <tspan x="120" y="20">钞</tspan>
            <tspan x="135" y="20">车</tspan>

            <tspan x="225" y="20"></tspan>
            <tspan x="240" y="20">2</tspan>
            <tspan x="255" y="20">7</tspan>
            <tspan x="270" y="20">1</tspan>
            <tspan x="285" y="20">万</tspan>


            <tspan x="15" y="40">石</tspan>
            <tspan x="30" y="40">家</tspan>
            <tspan x="45" y="40">庄</tspan>
            <tspan x="60" y="40">特</tspan>
            <tspan x="75" y="40">大</tspan>
            <tspan x="90" y="40">抢</tspan>
            <tspan x="105" y="40">运</tspan>
            <tspan x="120" y="40">钞</tspan>
            <tspan x="135" y="40">车</tspan>
            <tspan x="150" y="40">杀</tspan>

            <tspan x="225" y="40"></tspan>
            <tspan x="240" y="40">2</tspan>
            <tspan x="255" y="40">7</tspan>
            <tspan x="270" y="40">1</tspan>
            <tspan x="285" y="40">万</tspan>
            
            <tspan x="285" y="40">万
                
            <tspan x="1285" y="40" dx="-110 10" dy="-5 5">11万</tspan>
            <tspan x="1800" y="40" dx="-110 10" dy="35 5">22万</tspan>

            </tspan>
            

        </text>-->

    </svg>
       
    <script type="text/javascript">
        //var width = $("body").css("width")
       // $("#output").text(width);
        //tspan text can be added 
     
        //append cannot render tspan
        $("#svg_text").append("<tspan x=\"1024\" y=\"50\">ASDF</tspan>");
       // $("#svg_text").append("asdf");
    </script>
</body>
</html>
