<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="vis/vis.min.js"></script>
    <script src="content/Json2.js"></script>
</head>
<body>
    <script type="text/javascript">

        var options = {};
        var data = new vis.DataSet(options);

        // add items
        // note that the data items can contain different properties and data formats
        data.add([
            { id: 1, text: 'item 1', date: new Date(2013, 6, 20), group: 1, first: true },
            { id: 2, text: 'item 2', date: '2013-06-23', group: 2 },
            { id: 3, text: 'item 3', date: '2013-06-25', group: 2 },
            { id: 4, text: 'item 4' }
        ]);
        // triggers an 'remove' event
        // subscribe to any change in the DataSet
        data.on('*', function (event, properties, senderId) {
            console.log('event:', event, 'properties:', properties, 'senderId:', senderId);
        });
        data.add({ id: 5, text: 'item 5' });              // triggers an 'add' event
        data.update({ id: 1, text: 'asdf 1 (updated)' }); // triggers an 'update' event
        //data.remove(1);  
        // update an existing item
        data.update({ id: 2, group: 1 });

        // remove an item
        data.remove(4);

        // get all ids
        var ids = data.getIds();
        console.log('ids', ids);

        // get a specific item
        var item1 = data.get(1);
        console.log('item1', item1);

        // retrieve a filtered subset of the data
        var items = data.get({
            filter: function (item) {
                return item.group == 1;
            }
        });
        console.log('filtered items', items);

        // retrieve formatted items
        var items = data.get({
            fields: ['id', 'date'],
            type: {
                date: 'ISODate'
            }
        });
        console.log('formatted items', items);
        var result = JSON.stringify(data);
        alert(result);

    </script>
</body>
</html>
